{% if userName %}

<div class="dropdown">
  <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ userName }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('bookSearch') }}">Search for books</a>
    <a class="dropdown-item" href="{{ url_for('yourReviews') }}">Your reviews</a>
    <a class="dropdown-item" href="{{ url_for('index') }}">Logout</a>
  </div>
</div>

{% endif %}
